<!DOCTYPE html>
<html>

<head>
	<title>View of <%= path %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<% files.forEach((f)=> { %>
		<a href="<%= join(f.path, f.name)  %>">
			<%= `${f.type ? 'File' : 'Folder' } - ${f.name}` %> <br>
		</a>
	<% }) %>
</body>

</html>